[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

"argon2_cffi" = "~=18.1.0"
blinker = "~=1.4"
"boto3" = "~=1.5.12"
Flask-Classful = "~=0.14.1"
Flask = "~=0.12.2"
Flask-Cors = "~=3.0.3"
openstacksdk = "~=0.9.18"
passlib = "~=1.7.1"
"psycopg2" = "~=2.7.1"
raven = "~=6.5.0"
redis = "~=2.10.6"
postgrespy = "~=0.3.1"
PyYAML = "~=3.12"


[dev-packages]

pipdeptree = "~=0.10.1"
"flake8" = "~=3.5.0"
neovim = "~=0.2.0"
jedi = "~=0.11.1"
pytest = "~=3.4.0"
mypy = "~=0.560"
